@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card {
aspect-ratio: 1/1.6;
/* border: 0.2vmin solid rgb(72, 72, 255); */
cursor: pointer;
position: relative;
width: 54vmin;
transform: skew(-10deg);
transform-origin: 0% 100%;
z-index: 2;

}

.card:nth-child(3n) {
transform-origin: 0% 100%;
}

.card:hover:before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
}

.card:before{
    background: linear-gradient(
    130deg,
    #00000090 0% 33%, 
    #000000 50%,
    #1255c8 60%,
    #1297c8, 90%,
    #1DB954 100%
);
    background-position: 0% 0%;
    background-size: 300% 300%;    
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: background-position 600ms ease;
    width: 100%;
    z-index: 1;
}

.card2:before{
    background: linear-gradient(
        130deg,
        #00000090 0% 33%, 
        #000000 50%,
        #F5D365 83.5%,
        #1DB954 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;    
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: background-position 600ms ease;
    width: 100%;
    z-index: 1;
}


.card3:before{
    background: linear-gradient(
        130deg,
        #00000090 0% 33%, 
        #000000 50%,
        #e68901 60%,
        #5a0079 100% 
        
    );
        background-position: 0% 0%;
    background-size: 300% 300%;    
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: background-position 600ms ease;
    width: 100%;
    z-index: 1;
}




.card:hover > .card-content{
    background-position: -10% -0%;
    }



.card-content{
    background: radial-gradient(
        rgba(255, 255, 255, 0.2) 8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 2vmin 2vmin;
    height: calc(100% - 10vmin);
    width: 100%;
    padding: 5vmin;
    transition: background-position 350ms ease;
    z-index: 99;
    position: relative;
    

}

.card-title,
.card-subtitle {
    color: white;
    font-family:"Genos", sans-serif ;
    font-weight: 400;
    margin: 0px;
}

.card-title{
    font-size: 2.4rem;
}

.card-subtitle{
    font-size: 1.5rem;
}

.card-subtitle-word{
    opacity: 0;
    display: inline-block;
    margin: 0vmin 0.3vmin;
    position: relative;
    transform: translateY(40%);
    transition: none;
}

.card:hover > .card-content > .card-subtitle > .card-subtitle-word{
    opacity: 1;
    transform: translateY(0%);
    /* transition: transform 200ms linear; */
    transition: opacity 0ms, transform 200ms cubic-bezier(.09, 06, .15, .90);
}


.headtext {
    text-align: center;
    font-size: 4.5rem;
    font-family: "Genos", sans-serif;
    font-weight: 500;
}

/* this is the background linear alternative to the three colors, you have to change line 27&28 for this to work properly */
/* background: linear-gradient(
    130deg,
     #000000 0% 8.33%, 
     #210a17 16.66%,
     #350e2c 24.99%, 
     #44134b 33.32%, 
     #462070 41.65%, 
     #592180 49.98%,
      #6e2190 58.31%, 
      #841d9e 66.64%, 
      #b40087 74.97%, 
      #d40067 83.3%, 
      #e70042 91.63%, 
      #ea1414 100%
      ); */


/*       purple color,
      #00000090 0% 33%, 
      #000000 50%,
      #841d9e 83.5%,
      #ea1414 100% */