/*!
 * Forms
 * form classes use the c- prefix to indicate they are components used in layout.
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-2/forms
 */

.c-form {
  display: flex;
  gap: var(--size-fluid-1);
  padding: var(--size-fluid-1);
  flex-direction: column;
}
