/*!
 * Variables
 * @tutorial https://web.dev/at-property/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-4/css-variables
 */

:root {
  /* Add your CSS variables here */
  /* Colors */
  --bg-color: #000000;
  --dot-color: rgba(255, 255, 255, 0.2);

  /* Dimensions */
  --dot-size: 1px;
  --dot-space: 23px;
}
